/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #F5F5DC;
  line-height: 1.6;
}

/* Header */
header {
  background-color: black;
  color: #fff;
  position:relative ;
}
.hidden{
  display: none;
}
nav ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
nav ul a{
  color:rgba(211, 186, 27, 0.904);;
  text-decoration: none;
}

header img{
  padding: 10px 0 10px 10px;
}
.show-items {
  display: flex;
}

.toggle {
  position: absolute;
  top: 20px;
  right:20px;
}


/* Hero Section */
.hero {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  background: url('images/smooky brisket.jpg') center/cover;
  background-blend-mode: multiply;
  width: 100%;
  color: #f1efef;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 4px #333;
}

.hero .cta {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
}
.hero p{
  text-shadow: 1px 1px 4px #333;
}

/* About Section */
.about {
  padding: 2rem;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.featured-menu{
  text-align: center;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Menu*/
/* Header */
/*same as Index*/
/* Hero Sections */
.menu-hero {
  text-align: center;
  padding: 2rem;
  color: #fff;
}

/* Menu Table */
.menu-items {
  padding: 2rem;
}

.menu-items h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: grey;
}

.menu-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-table thead {
  background-color:grey;
  color: #fff;
}

.menu-table th, .menu-table td {
  text-align: left;
  padding: 0.75rem;
  border: 1px solid #ddd;
}

.menu-table th {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.menu-table tbody tr:nth-child(odd) {
  background-color: #F9F9F9;
}

.menu-table tbody tr:hover {
  background-color: #F5F5DC;
}

.menu-table td {
  vertical-align: top;
}

.menu-table td:nth-child(4) {
  font-weight: bold;
  color: grey;
}
 /*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {

}



   
    